@import "../../Assets/Styles/_vars.scss";
@import "../../Assets/Styles/_mixins.scss";
.footerKazix {
    background-color: transparent;
    @media (max-width: 767px) {
      padding-top: 50px;

      @media (max-width: 585px) {
        padding-top: 0px;
      }
    }
    .copyRight {
      border-top: 1px solid rgba(112, 112, 112, 0.3);
      background-color: #000000;

      .inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        padding: 20px 0px 20px 0px;
        color: black;
        @include fluid-type(320px, 1920px, 12px, 13px);

        @media (max-width: 500px) {
          justify-content: center;
          gap: 20px;
        }

        p {
          color: rgba(255, 255, 255, 1);
          @include fluid-type(320px, 1920px, 12px, 16px);
        }

        .links {
          display: flex;
          gap: 60px;

          @media (max-width: 767px) {
            gap: 30px;
          }

          a {
            padding: 0 30px;
            padding: 0;
          }
        }
      }
    }

    .right {
      align-items: baseline;
      display: inline-flex;
      margin-left: auto;
      width: 100%;
    }
  }