@import '../../Assets/Styles/_vars.scss';
@import '../../Assets/Styles/_mixins.scss';
.configure{
  background-color: rgb(3, 3, 3);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  .configureCenter {
    padding-top: 70px;
    width: 50%;
    margin: auto;
    .configureheading {
      color: #ffffff;
      font-size: 20px !important;
      @include fluid-type(320px, 1920px, 24px, 42px);
      font-weight: 600;
      text-align: center;
      padding-bottom: 20px;
    }
    .youpay {
      border-radius: 22px;
      padding: 20px;
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: transparent;
      align-items: center;
      @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
      }
      .menuBtn {
        display: flex;
        justify-content: center;
        padding: 20px;
        align-items: center;
        .btn {
          border-radius: 10px;
          padding: 10px;
          background-color: rgb(49, 28, 49);
          min-height: 40px;
          min-width: 150px;
          width: 100%;
          color: rgb(252, 114, 255);
          @include fluid-type(320px, 1920px, 14px, 16px);
          margin-top: 5px;
          font-weight: 600;
          margin-top: 10px;
          &:hover,
          :active,
          :focus,
          :focus-within,
          :focus-visible {
            background-color: rgb(49, 28, 49) !important;
            opacity: 0.4;
            color: rgb(252, 114, 255);
             
          }
        }
      }
      .configureForm {
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 20px;
        padding: 20px;
        width: 70%;
        min-width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 465px;
        height: 100%;
        @media screen and (max-width: 900px) {
          min-width: 300px;
          border:none;
        }
        .form-container {
          min-width: 400px;
          width: 90%;
        }
        .success-box{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding-left: 10px;
          margin-bottom: 20px;
          border-radius: 20px;
          min-height: 100px;
          height: 100%;
          background-color: rgb(28, 49, 36);
          color: rgb(154, 255, 114);
          font-weight: 500;
          button{
            width: 100%;
            color: rgb(151, 151, 151);
            font-size: 14px ;
            font-weight: 300;  
            background-color: transparent;
            border:none;
          }
        }
        .editContainer{
          display: flex;
          width: 100%;
          flex-direction: row;
          justify-content: end;
          align-items: center;

          button{
            border-radius: 10px;
            background-color: rgb(49, 28, 49);
            height: 36px;
            min-width:70px;
            color: rgb(252, 114, 255);
            font-weight: 600;
            &:hover,
            :active,
            :focus,
            :focus-within,
            :focus-visible {
              background-color: rgb(49, 28, 49) !important;
              opacity: 0.4;
              color: rgb(252, 114, 255);
               
            }
        }
        }
        .input-row {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          width: 100%;
          padding-left: 10px;
          margin-bottom: 20px;
          border-radius: 20px;
          label{
            color: rgb(71, 68, 68);
            font-size: 16px ;
            font-weight: 400;  
          }
          input {
            height: 60px;
            width: 100%;
            background-color: transparent;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            border: 1px solid  rgb(61, 61, 61);
            color: #959595;
            opacity: 0.8;
            font-weight: 400;
            padding-left: 10px;
            font-size: 14px;
            outline-width: 0px;
          }
        }

        .centered-button {
          width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          button {
            width: 80%;
            border-radius: 10px;
            padding: 10px;
            background-color: rgb(49, 28, 49);
            height: 60px;
            color: rgb(252, 114, 255);
            @include fluid-type(320px, 1920px, 14px, 16px);
            margin-top: 5px;
            font-weight: 600;
            margin-top: 10px;
            &:hover,
            :active,
            :focus,
            :focus-within,
            :focus-visible {
              background-color: rgb(49, 28, 49) !important;
              opacity: 0.4;
              color: rgb(252, 114, 255);
               
            }
        }
      }
      }
    }
  }
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: rgb(19, 19, 19);
  color: #fff;
  border: 1px solid #242424;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  &:hover {
    background-color: rgb(27, 27, 27);
  }
}
.ant-select-arrow {
  span {
    svg {
      fill: #fff;
    }
  }
}
.selectToken {
  .ant-select-selector {
    background-color: rgb(252, 114, 255) !important;
    @include fluid-type(320px, 1920px, 16px, 18px);
  }
  .ant-select-single.ant-select-open .ant-select-selection-item {
    font-weight: bold !important;
    color: #fff;
  }
}
.connectbtn {
  border-radius: 10px;
  background-color: rgb(49, 28, 49);
  height: 60px;
  color: rgb(252, 114, 255);
  @include fluid-type(320px, 1920px, 14px, 16px);
  margin-top: 5px;
  font-weight: 600;
  margin-top: 10px;
  &:hover,
  :active,
  :focus,
  :focus-within,
  :focus-visible {
    background-color: rgb(49, 28, 49) !important;
    opacity: 0.4;
    color: rgb(252, 114, 255);
     
  }
}
.ant-drawer-wrapper-body {
  background-color: #131313;
  .ant-drawer-header {
    border-bottom: 0 !important;
    .ant-drawer-title {
      color: #fff;
    }
  }
  .ant-drawer-body {
    padding: 15px !important;
  }
}
.anticon-close {
  svg {
    fill: white;
  }
}
