@import "../Assets/Styles/_vars.scss";
@import "../Assets/Styles/_mixins.scss";
.commonDrawer {
  ul {
    list-style: none;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    li {
      background-color: #1b1b1b;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      padding: 20px;
      margin-bottom: 5px;
      &:hover {
        background-color: #1b1b1b;
        opacity: 0.5;
      }
    }
  }
}