@import '../../Assets/Styles/_mixins.scss';
@import '../../Assets/Styles/_vars.scss';

.footer {
    border-top: 0.5px solid $bordergrey;
    padding: 20px 10px;
    text-align: center;
    &__text {
        color: $grey-707070;
        font-size: 14px;
        font-weight: normal;
        
    }
}